{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
    <h2>ログイン</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {{ form.remember }} {{ form.remember.label }}<br>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
