{% extends "base.html" %}
{% block title %}ユーザー登録{% endblock %}
{% block content %}
    <h2>ユーザー登録</h2>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
